footer {
    background-color: #004400;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 0.9em;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
    color: #007BFF;
}

a.btn:hover {
    text-decoration: none;
}

#txtUpload::file-selector-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.2em 0.5em;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0.4em;
    height: 1rm;
}
.animated-border {
    padding: 5px;
    text-align: center;
    background: linear-gradient(90deg, red, blue, green, orange, red);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: borderAnimation 5s linear infinite alternate, fadeInOut 5s ease-in-out infinite;
}

.disappearing-message {
    overflow: hidden;
    opacity: 1;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: height 1s ease-in-out, padding 1s ease-in-out, margin 1s ease-in-out, opacity 1s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes borderAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.card {
    margin-top: 40px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2.card-title strong {
    font-weight: bold;
    color: #333;
}

.image-container {
    width: 100%;
}

.main-image {
    width: 100%;
}

.main-image img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
    display: block;
}

.thumbnail-bar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    margin-bottom: 10px;
    scrollbar-width: thin;
    border-radius: 8px;
    border: 1px solid #ccc;
   
}
.thumbnail-bar a {
    flex: 0 0 auto; 
    margin-right: 10px; 
}

.thumbnail-bar::-webkit-scrollbar {
    height: 8px;
}

.thumbnail-bar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
.thumbnail-img {
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
    border: 2px solid transparent;
    cursor: pointer;
}

.thumbnail-img.selected-thumbnail {
    border: 2px solid #007BFF;
}

.text-section {
    padding-left: 15px;
}

.comment {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
